pandas
openpyxl
scikit-learn
joblib
sqlalchemy
streamlit
matplotlib
seaborn
xlrd
streamlit

pandas
altair<5
scikit-learn

openpyxl 
streamlit
pandas
openpyxl
scikit-learn
pyarrow>=14.0.1 
plotly
joblib

plotly
